@font-face {
    font-family: 'Violet_evergarden V14';
    src: url('https://kandysh.github.io/violet_font/Violet_evergardenV14-Regular.eot');
    src: url('https://kandysh.github.io/violet_font/Violet_evergardenV14-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://kandysh.github.io/violet_font/Violet_evergardenV14-Regular.woff2') format('woff2'),
        url('https://kandysh.github.io/violet_font/Violet_evergardenV14-Regular.woff') format('woff'),
        url('https://kandysh.github.io/violet_font/Violet_evergardenV14-Regular.svg') format('svg');
    font-weight: 100;
    font-style: normal;
}

